.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

body{
    display: flex;
    flex-wrap: wrap;
    
}

.tarjeta{
    width: 350px;
    height: 400px;
    border: 1px dotted black;
    border-radius: 5px;
    margin-bottom: 15px;
}

h1{
    text-align: center;
}


.titulo{
    text-align: center;
    color: white;
    height: 15%;
    border: 1px dotted black;  
    background-color: black;
}

.ejemplo{
    height: 85%;
    border: 1px dotted black;
   /* display: flex;
    align-items: center;
    justify-items: center;*/
    
    
}

.ejemplo1{
    display: flex;
    align-items: center;
    justify-content: center;
}

#button{
    width: 50px;
    height: 30px;
    align-items: center;
   /* background-color: grey;
    cursor: pointer;*/
}

/*#button:hover{
    background-color: grey;
}*/

li{
    list-style: none;
}

#image{
    padding: 20px;
}

/*legend{
    text-align: right;
}*/

fieldset{
    border: 1px groove #ddd;
}



